.app {
  text-align: center;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  font-family: 'Arvo', serif;
}

.header {
  background-color: #EFEFEF;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: left;
  margin: 0.75rem 1rem;
  font-family: 'Lilita One', cursive;
}

.active {
  border-bottom: 3px solid black;
}

footer {
  background-color: #EFEFEF;
}
