.resources-title,
.saved-facts-title,
.quiz-title {
  font-family: 'Lilita One', cursive;
  font-size: 2rem;
  margin: 0.8rem;
}

.result {
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Lilita One', cursive;
}
